@font-face {
  font-family: 'AgencyFB-Bold';
  src: url('./AGENCYB.TTF') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AgencyFB-Reg';
  src: url('./AGENCYR.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alimama-ShuHeiTi';
  src: url('./Alimama_ShuHeiTi_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Agency-FB';
  src: url('./AGENCYR.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "iconfont";
  src: url('iconfont.woff2?t=1770786617703') format('woff2'),
    url('iconfont.woff?t=1770786617703') format('woff'),
    url('iconfont.ttf?t=1770786617703') format('truetype');
  font-display: swap;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-gongfang:before {
  content: "\e65f";
}

.icon-diliweizhi:before {
  content: "\e61f";
}

.icon-yunfuwuqi:before {
  content: "\e668";
}

.icon-yunchangshang:before {
  content: "\e712";
}

.icon-fuwuleixing1:before {
  content: "\e620";
}

.icon-wenjian:before {
  content: "\e613";
}

.icon-calendar:before {
  content: "\e9ab";
}

.icon-guanlian:before {
  content: "\e651";
}

.icon-yanjing_xianshi_o:before {
  content: "\ebcc";
}

.icon-yanjing_yincang_o:before {
  content: "\ebcd";
}

.icon-cehuiyudili:before {
  content: "\e637";
}

.icon-gongfangyanlian1:before {
  content: "\e627";
}

.icon-xinxihua:before {
  content: "\e670";
}

.icon-youxiang:before {
  content: "\e61e";
}

.icon-tiaoduguanli:before {
  content: "\e664";
}

.icon-qingchu01:before {
  content: "\e707";
}

.icon-ziyuanxhdpi:before {
  content: "\e633";
}

.icon-jizhanfa:before {
  content: "\e60e";
}

.icon-private2:before {
  content: "\e79f";
}

.icon-xiangmuchubei:before {
  content: "\e61c";
}

.icon-zhanghu:before {
  content: "\e60c";
}

.icon-gongfanglogo:before {
  content: "\e663";
}

.icon-huoyueshitu:before {
  content: "\e7ba";
}

.icon-heikegongji:before {
  content: "\e72e";
}

.icon-research-judgment:before {
  content: "\e61b";
}

.icon-tubiaozhizuomoban-1-09:before {
  content: "\e612";
}

.icon-anquanjiankong:before {
  content: "\e80d";
}

.icon-loudongbuhuo:before {
  content: "\e60d";
}

.icon-kehuyinliu:before {
  content: "\e631";
}

.icon-suyuan:before {
  content: "\e948";
}

.icon-jiqiren:before {
  content: "\eada";
}

.icon-jurassic_toolkit:before {
  content: "\e6a3";
}

.icon-pingguchaxun:before {
  content: "\e69d";
}

.icon-riqi:before {
  content: "\e617";
}

.icon-wiappfangwenliang:before {
  content: "\e693";
}

.icon-Ddosfangyu:before {
  content: "\e632";
}

.icon-permissions:before {
  content: "\e619";
}

.icon-huanjingshuju:before {
  content: "\e624";
}

.icon-shougongji:before {
  content: "\e609";
}

.icon-a-shijianzhou1:before {
  content: "\e60b";
}

.icon-gaojingxinxi:before {
  content: "\e61a";
}

.icon-icon__yemiankongzhi:before {
  content: "\e61d";
}

.icon-shujuqiequ:before {
  content: "\e7ff";
}

.icon-gongjiruqin:before {
  content: "\e606";
}

.icon-a-icon-11_V01-zhudaohang-zhongduanguzhengtiqu_V01-zhudaohang-shegongdiaoyu:before {
  content: "\e723";
}

.icon-zixitongguanli:before {
  content: "\e618";
}

.icon-shitimoxing:before {
  content: "\e60f";
}

.icon-tongzhi:before {
  content: "\e60a";
}

.icon-fanzhigaojing-fanzhiwenjian:before {
  content: "\e630";
}

.icon-shujudaping:before {
  content: "\e611";
}

.icon-shujutupu:before {
  content: "\e62e";
}

.icon-a-Nav_vertical_icon_Administrator:before {
  content: "\e605";
}

.icon-wancheng-copy:before {
  content: "\e62f";
}

.icon-jinhangzhong:before {
  content: "\e615";
}

.icon-chaxun:before {
  content: "\e661";
}

.icon-daochu1:before {
  content: "\e65e";
}

.icon-information:before {
  content: "\e63b";
}

.icon-danao:before {
  content: "\e62a";
}

.icon-icon-monitor:before {
  content: "\e608";
}

.icon-yichangshangbao:before {
  content: "\ead6";
}

.icon-Ccehui-:before {
  content: "\e623";
}

.icon-dailijigouxinyongchaxun:before {
  content: "\e62c";
}

.icon-zichanmoxing:before {
  content: "\e610";
}

.icon-jueceliu:before {
  content: "\e628";
}

.icon-relation-full:before {
  content: "\e867";
}

.icon-chouqu:before {
  content: "\e657";
}

.icon-icon_guijikehua:before {
  content: "\e692";
}

.icon-tengxunyunlogo_tengxunyun01:before {
  content: "\e726";
}

.icon-a-weibuzaixian2:before {
  content: "\e6cd";
}

.icon-sequelize:before {
  content: "\e64e";
}

.icon-mubiao-F:before {
  content: "\e62d";
}

.icon-pinggu:before {
  content: "\e635";
}

.icon-zhixindu:before {
  content: "\e656";
}

.icon-fuwuqi:before {
  content: "\e607";
}

.icon-renwu:before {
  content: "\e77a";
}

.icon-poctluru:before {
  content: "\e721";
}

.icon-bug-fill:before {
  content: "\e772";
}

.icon-bofang:before {
  content: "\e7c6";
}

.icon-queding:before {
  content: "\e7d0";
}

.icon-zanting:before {
  content: "\e7dc";
}

.icon-biaoqian:before {
  content: "\e629";
}

.icon-jibenxinxi:before {
  content: "\e67f";
}

.icon-jichuxinxizhanshi:before {
  content: "\e642";
}

.icon-guanlianzuzhi:before {
  content: "\e6b5";
}

.icon-jiedianguanli:before {
  content: "\e614";
}

.icon-peizhiip:before {
  content: "\e655";
}

.icon-yunyingshang-xuanzhong:before {
  content: "\e616";
}

.icon-hangye:before {
  content: "\e662";
}

.icon-zuzhijiagou:before {
  content: "\e647";
}

.icon-renwupeizhi:before {
  content: "\e66f";
}

.icon-nengliang:before {
  content: "\e6e9";
}

.icon-wangzhanIPchaxunicon:before {
  content: "\e67e";
}

.icon-zhanbi:before {
  content: "\e6d4";
}

.icon-jichuruanjian:before {
  content: "\e686";
}

.icon-icon_IP:before {
  content: "\e602";
}

.icon-yixiangdugao:before {
  content: "\e603";
}

.icon-ai35:before {
  content: "\e698";
}

.icon-tuopu:before {
  content: "\e83d";
}

.icon-celveguanli:before {
  content: "\e660";
}

.icon-shurupeizhi:before {
  content: "\e67a";
}

.icon-daochu:before {
  content: "\e645";
}

.icon-qianzhuiico:before {
  content: "\e68c";
}

.icon-luyouqi1:before {
  content: "\e67c";
}

.icon-jieguozhanshi_11:before {
  content: "\e7b4";
}

.icon-a-Redisbeifen12:before {
  content: "\e601";
}

.icon--gongyehulianwangpingtai:before {
  content: "\e600";
}

.icon-yun:before {
  content: "\e6cf";
}

.icon-luyouqi:before {
  content: "\e78f";
}

.icon-icon-safe-ip-:before {
  content: "\e685";
}

.icon-dianziduikangbudui:before {
  content: "\e65d";
}

.icon-zuzhiqunzu:before {
  content: "\e62b";
}

.icon-honglanduikang:before {
  content: "\e6bf";
}

.icon-shaixuan:before {
  content: "\e622";
}

.icon-generated_icon:before {
  content: "\e604";
}

.icon-piliangkongzhi_active:before {
  content: "\e66c";
}

.icon-tanjiu:before {
  content: "\e725";
}

.icon-tance:before {
  content: "\e644";
}

.icon-a-ziyuan8:before {
  content: "\e6b1";
}

.icon-jieguozhanshi_1:before {
  content: "\e67d";
}